.content{
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    font: small-caps 100%/200% serif; /*tipo de letra*/
}
.content h1 {
    font-size: 2.2em;
}
.container{
    padding-bottom: 0%;
    width: 100%;
    left: auto;
    right: auto;
}
.lead{
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.form-group{
    color: black;
    text-align: left;
    align-items: center;
    justify-content: center;
}
body{
    background-color: white;
}

.user-img{
    
    margin-top: -100px;
    margin-bottom: 25px;
    text-align: center;
}

.main-section{
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
}

.modal-content{
    background-color:26;
    background: linear-gradient(to right, #3eb9a4be, #3eb9a4be);
    opacity: .95;
    padding: 0 20px;
    box-shadow: 1px 1px 5px #3eb9a4be;;
}

.user-img img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 5px #3eb9a4be; 
    background-color: #3eb9a4be;
    background-blend-mode:luminosity;
}

.form-group input{
    height: 42px;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
}
#emailHelp{
    color: black;
}
hr {
    border: 2px solid #e9a02f;
    box-shadow: 1px 1px 10px  #e9a02f;
    margin: 0;
}
#foot-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:black;
    text-shadow: 3px 3px 10px black;
    
}
.nav-link_1,.foot-text{
    color: white;
}

/*esquinas*/

/*boton dark mood*/
  .btn-mode{
    
    display: inline-block;
    width: 50px;
    height: 30px;
    border:2px solid black;
    transition: background-color .5s;
  }
  .btn-mode i {
    display: block;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
  }
  .btn-mode.sun{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid transparent;
  }
  .btn-mode.moon{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .activ{
    background-color:black;
    color:#ffcd5c !important;
  }
  a, a span{

    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    transition: all .1s ease-in;
    backface-visibility: hidden;
}