.content{
    color: black;
    font: small-caps 100%/200% serif; /*tipo de letra*/
    text-align: center;
    align-items: center;
    justify-content: center;
}
.content h1 {
    font-size: 2.2em;
} 
.lead{
    color: black;
    font: small-caps 100%/190% serif; /*tipo de letra*/
    text-align: center;
    align-items: center;
    justify-content: center;
}
.form-group{
    color: black;
    font: small-caps 100%/190% serif; /*tipo de letra*/
    text-align: left;
    align-items: center;
    justify-content: center;
}
body{
    /*background-color: rgb(151, 129, 29);
    background-color: rgba(84, 179, 169, 0.623);
    background-image: url("../img/fondo3.png");
    background-blend-mode:luminosity;    */
    background-color: white;
}

.user-img{
    
    margin-top: -100px;
    margin-bottom: 25px;
    text-align: center;
}

.main-section{
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
}

.modal-content{
    background-color:yellowgreen;
    opacity: .95;
    padding: 0 20px;
    box-shadow: 1px 1px 5px yellowgreen;
}

.user-img img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 5px yellowgreen ;
    background-color: rgba(84, 179, 169, 0.623);
    background-blend-mode:luminosity;
}

.form-group input{
    height: 42px;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
}
hr {
    border: 2px solid black;
    box-shadow: 1px 1px 10px  black;
    margin: 0;
}
#foot-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:black;
    text-shadow: 3px 3px 10px black;
    
}
/*esquinas*/
.linver{
    width: 35px;
    height: 100%;
    float: left;
    background-color: rgba(84, 179, 169, 0.623);
    border: 5px ridge silver;
    border-radius: 2px;
 }
 .linver_1{
    width: 35px;
    height: 100%;
    float: right;
    background-color: rgba(84, 179, 169, 0.623);
    border: 5px ridge silver;
    border-radius: 2px;
 }

/*esquinas*/