:root{
    --orange-color: #e9a02f;
    --blue-color: #01adb6;
    --aqua-color:#3eb9a5;
    --green-color: #9cbb5d;
    --gray-color: #2b2b2d;
    --white-color: #ffffff;
    --black-color: #000000;
     /*Tipos de letras*/
  --font-texto-gral:'Lato', sans-serif;
  --font-title: 'Rubik', sans-serif;
}
nav{
    background-color: var(--white-color);
    border-bottom: 2px solid rgb(212, 175, 55);
  }
  
  nav span, nav a {
    font-family: var(--font-texto-gral);
    font-weight: bolder;
    font-size: 1.3rem;
    color: var(--black-color);
  }
  
  nav a.nav-link:hover {
    color: var(--orange-color);
    background-color: #5a5a5a22;
    border-radius: 10px;
    transform: scale(1.05);
  }
  
  nav a.nav-link:valid {
    background-color: #5a5a5a;
  }
  
  .navbar-toggler {
    border: 1px solid var(--black-color);
  }
.content{
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.content h1 {
    font-size: 2.2em;
    font-family: 'Rubik', sans-serif;
}

p, label, input{
    font-family: 'Lato', sans-serif;
}

.container{
    padding-bottom: 0%;
    width: 100%;
    left: auto;
    right: auto;
}
.lead{
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.form-group{
    color: black;
    text-align: left;
    align-items: center;
    justify-content: center;
}
body{
    background-color: white;
}

.user-img{
    
    margin-top: -10%;
    text-align: center;
}

.main-section{
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
}

.modal-content{
    background-color: beige;
    padding: 0 20px;
    border: 0;
}

.user-img img{
    border-radius: 50%;
    width: 50%;
    height: 80%;
}

.form-group input{
    height: 42px;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
}
#emailHelp{
    color: black;
}
/*esquinas*/

/*boton dark mood*/
  .btn-mode{
    
    display: inline-block;
    width: 50px;
    height: 30px;
    border:2px solid black;
    transition: background-color .5s;
  }
  .btn-mode i {
    display: block;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
  }

  .activ{
    background-color:black;
    color:#ffcd5c !important;
  }
  a, a span{
    margin-right: 15px;
}

#btn-contacto-submit{
    background-color: #e9a02f;
    border: #e9a02f;
    border-radius: 10px;
}
#foot-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--black-color);

}
.card-footer{
  border-top: 2px solid var(--orange-color);
  background-color: var(--white-color);
}

#fot-nav {
  width: 30rem;
}

#fot-nav a{
  font-size: 1rem;
  margin-right: 10%;
  color: var(--black-color);
}

#fot-nav a:hover{
  color: var(--orange-color);
  border-radius: 10px;
  transform: scale(1.05);
}