:root{
  --titulos-color: #e9a02f;
  --card-integrantes-bg-color: #01adb6;
  --card-acerca-de-bg-color:#3eb9a5;
  --nav-bg-color: #2b2b2d;
  --white-color-default: #ffffff;
  --black-color-default: #000000;
  --green-color-light: #9cbb5d;

  /*Tipos de letras*/
  --font-texto-gral:'Lato', sans-serif;
  --font-title: 'Rubik', sans-serif;
}
*,*::after,*::before{
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}

a, p, span {
  font-family: var(--font-texto-gral);
}


nav{
  background-color: var(--white-color-default);
  border-bottom: 2px solid black;
}

nav span, nav a {
  font-family: var(--font-texto-gral);
  font-weight: bolder;
  font-size: 1.3rem;
  color: var(--black-color-default);
}

nav a.nav-link:hover {
  color: var(--titulos-color);
  background-color: #5a5a5a22;
  border-radius: 10px;
}

.navbar-toggler {
  border: 1px solid var(--black-color-default);
}

.hero{
  height: 100vh;
  width: 100%;
  background-image: url(../img/HeroIndex.png);
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div.carousel-caption {
  background: #5a5a5aaa!important;
}

h1{
  text-align: center;
  font-size: 3em;
  padding-top: 20px;
  color: #e9a02f;
}
.text{
  font-family: var(--font-texto-gral);
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}
h3.title{
text-align: center;
font-size: 3rem;
padding-top: 20px;
color: var(--titulos-color);
}

h3{
  text-align: center;
  font-size: 2rem;
  padding-top: 20px;
  color: var(--titulos-color);
  }


.pasos img {
  width: 100%;
}

.que-es p, .help__text {
  font-size: 2rem;
  font-weight: var(--black-color-default);
}

.help__text {
  margin-top: 6%;
}

.row{
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--black-color-default);
}


.test1 {
/*white-space: nowrap;*/
width:60%;
height:180px;
position: relative;
left: 50%;
transform: translateX(-50%);
overflow: hidden;
text-overflow: clip;
background-color: var(--titulos-color);
text-align: center;
color: white;
font-size: 25px;
padding-top: 20px;
margin: 8rem 0;
}

.test1 p {
  position: relative;
  top: 42%;
  transform: translateY(-50%);
}

i{
  font-size: 2.3rem;
  color: rgb(192, 178, 178);
}

.card-footer a:first-child i {
  margin-right: 15%;
}
.card-footer a:last-child i {
  margin-left: 15%;
}
.card-footer a:first-child i:hover {
  color: var(--card-integrantes-bg-color);
}
.card-footer a:last-child i:hover {
  color: var(--card-integrantes-bg-color);
}





.right{
margin: 8rem 0;
}

.test2 {
/*white-space: nowrap;*/
width: 60%;
height:180px;
position: relative;
left: 50%;
transform: translateX(-50%);
height:auto;
text-overflow: clip;
background-color: var(--titulos-color);
text-align: center;
color: white;
font-size: 25px;
padding-top: 10px;
padding-bottom: 10px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #646464;
}

/* Style the buttons inside the tab */
.tablinks {
  cursor: pointer;
  color: white;
  border-bottom: 2px solid var(--white-color-default);
  margin: 0 4rem;
}



.tablinks:hover {
  text-decoration: none;
  color: var(--card-integrantes-bg-color);
  border-bottom: 2px solid var(--card-integrantes-bg-color);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
.nav-link_1{
color: white;
}
.flip-container{
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin:0 auto;
}
/*cards*/
.card_1{
  position: relative;
  display:inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}
.card_1 h3, card p {
  display:block; 
} 

/* GIRA HORIZONTAL */
.flip-container:hover .card_1{
  transform: rotateY(180deg);
}

.frente , .revez {
  position: absolute;
  width: 100%;
  height: 70%;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.frente_2 , .revez {
  position: absolute;
  width: 100%;
  height: 70%;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.frente_3 , .revez{
  position: absolute;
  width: 100%;
  height: 70%;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.frente_4 , .revez { 
  position: absolute;
  width: 100%;
  height: 70%;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.frente {
  background-image: url("../img/Index_card_cultura.jpeg");
  color: #fff;
  display: flex;
  background-size: cover;/*Esto es para que la imagen no se repita*/
}

div.frente span{
  font-size:11px;
  background:#646464;
  color:white;
  padding: 7px;
  position:absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;

}
div.frente_2 span{
  font-size:11px;
  background:#646464;
  color:white;
  padding:7px;
  position:absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
div.frente_3 span{
  font-size:11px;
  background:#646464;
  color:white;
  padding: 7px;
  position:absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;

}
div.frente_4 span{
  font-size:11px;
  background:#646464;
  color:white;
  padding: 7px;
  position:absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
div.carousel-caption{
  font-size:11px;
  background:#5a5a5a;
  color:white;
  padding: 15px;
  position:absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.frente_2{
  background-image: url("../img/edu.jpg");
  color: #fff;
  display: flex;
  background-size: cover;/*Esto es para que la imagen no se repita*/
}
.frente_3{
  background-image: url("../img/ambien.jpg");
  color: #fff;
  display: flex;
  background-size: cover;/*Esto es para que la imagen no se repita*/
}
.frente_4{
  background-image: url("../img/Index_card_proteccionAnimal.jpg");
  color: #fff;
  background-position: center;
  display: flex;
  background-size: cover;/*Esto es para que la imagen no se repita*/
}
.revez {
  background-color: #2ead67;
  color: #faebd7;
  transform: rotateX(180deg);
  transform: rotateY(180deg);
  text-align:center;
  opacity: 0.8;
  text-shadow: 1px 1px 1px rgb(6, 17, 20);
}
.revez p {
  font-size:0.65em;
}/*cards*/
/*Cambios de miriam*/
  div.carousel-caption{
    font-size:11px;
    background:#5a5a5a;
    color:white;
    padding: 15px;
    position:absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
/*Cards*/
  div.frente_4 span{
    font-size:11px;
    background:#646464;
    color:white;
    padding: 7px;
    position:absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
  /*cards*/
.saludo_bienvenida{
    text-align: center;
    font-size: 74px;
    padding-top: 20px;
}
hr {
  border: 2px solid #e9a02f;
  box-shadow: 1px 1px 10px  #e9a02f;
  margin: 0;
}
#foot-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: ivory;
  text-shadow: 3px 3px 10px black;
}

.d-block{
  width: 500px;
  height: 500px;
}

.form-group{
  font-size: 20px;
}

#btn-1, #btn-2, #btn-3, #btn-4{
  font-size: 0.9em;
  color:rgb(19, 95, 0);
  font-weight: bolder;
  background-color: rgba(252, 208, 127, 0.911);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*.botones{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}*/



.comentario-img{
  width: 90px;
  height: 90px;
}
@media (min-width: 992px) {	
	.tab-content{
	height: 330px;
	}
}

/* Aquí agregué un media query para pantallas pequeñas y se vea mejor */
@media only screen and (max-width: 500px) {
    .test2 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .tablinks {
        margin: 5px;
        width: fit-content;
    }
}