body{
    /*background-image: url("../img/emprendimiento.jpg");*/
    height: 120vh;
    background-size: cover;
    background-position: center;
}
.body{ 
    display: -ms-flexbox;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}
.titulo{
    color: white;
}
.formulario{
    width: 100%;
    max-width: 420px;
    height: 100%;
    max-height: 620px;
    padding: 15px;
    margin: auto;
    background-color: #01049ebe;
}
.formulario-label{
    position: relative;
    margin-bottom: 1rem;
}
.formulario-label >input, .formulario-label >label{
    height: 3rem;
    padding: .75rem;
}
.formulario-label >label{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    pointer-events: none;
    cursor: text;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .15 ease-in-out;
}
.formulario-label input:not(:placeholder-shown){
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}
.formulario-label input:not(:placeholder-shown)~label{
    padding-top: .15rem;
    padding-bottom: .2715rem;
    font-size: 8x;
}
input[type]:focus{
    border-color: black;
    box-shadow: 5px 5px 5px rgba(46, 48, 46, 0.356);
}
.frase{
    color: white;
}
hr {

  /*border: 2px solid #e9a02f;
  box-shadow: 1px 1px 10px  #ffc266;
  margin: 0;*/
    border: 2px solid #01049ebe;
    box-shadow: 1px 1px 10px  #01049ebe;
    margin: 0;
}
#foot-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: ivory;
  text-shadow: 3px 3px 10px black;
}