.card{
    background-color: #9cbb5d;
    min-height: 700px;
    max-height: 700px;
}

.btn{
    background-color: #01adb6d3;
    border-radius: 10px;
}

.card-img-top{
    width: 100%;
    height: 300px;
}
h5{
    text-align: center;
}
.boton-nuevoP{
    text-align: center;
}
body {
	background: linear-gradient(to white);
}
.nav-link{
   color: black;
}
.nav_2 div button {
	background-color: white;
	border: 2px solid #3eb9a5;
	letter-spacing: 0em;
	width: 10em;
	height: 4.5em;
	line-height: 1em;
	position: relative;
	overflow: hidden;
	margin: 0.5em;
	cursor: pointer;
   justify-content: center;
}
.nav_2 div button::before {
	content: '';
	position: absolute;
	width: 1.5em;
	height: inherit;
	background-color: #01adb6bb;
	border-radius: 50%;
	top: 0;
	left: -0.75em;
	transition: 0.5s ease-out;
}

.nav_2 div button:hover::before {
	transform: scale(12);
}
.nav_2-it{ 
   justify-items: right;
}/*barra de elementos*/

hr {
    border: 2px solid #e9a02f;
    box-shadow: 1px 1px 10px  #ffc266;
    margin: 0;
}
#foot-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:rgb(255, 255, 255);
    text-shadow: 3px 3px 10px black;
    
}

h5{
    color: #ffffff;
}

h3{
    padding-top: 20px;
    color: #e9a02f;
}

.card-body > p:nth-child(5){
    overflow-y: auto;
    height: 140px;
}
