body{
    background-color: beige;
    height: 100vh;
    font-family: 'Lato', sans-serif; 
}

h3{
    color: #e9a02f;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  hr {
    border: 2px solid #e9a02f;
    box-shadow: 1px 1px 10px  #ffc266;
    margin: 0;
}
#foot-col {
    display: flex;
    flex-direction: row;
    font-family: 'Lato', sans-serif;
    justify-content: space-between;
    color:rgb(255, 255, 255);
    text-shadow: 3px 3px 10px black;
}
.btn{
    background-color: #e9a02f;
    border: #e9a02f;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    border-radius: 10px;
}
.btn:hover{
    background-color: #9cbb5d;
    border: #9cbb5d;
}
label{
    font-size: 1.3em;
}
