body, .container-fluid {
    margin: 0;
    padding: 0;
}

.header{
    text-align: center;
    height: 317px;
    padding: 45px;
    background-color:#3eb9a5;
}
.avatar{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.user_name{
    font-size: 1em;
    margin-top: 8px;
}
.contenido{
    list-style: none;
    text-align: center;
    padding: 0%;
}
.contenido li{
    display: inline-block;
    margin-left: .5em;
    margin-right: .5em;
}

.about{
    margin-left: 4em;
    margin-right: 4em;
}
h3{
    color: #e9a02f;
    font-size: 1.5em;
}

hr {
    border: 2px solid #e9a02f;
    box-shadow: 1px 1px 10px  #ffc266;
    margin: 0;
}
#foot-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:rgb(255, 255, 255);
    text-shadow: 3px 3px 10px black;
    
}


