.avatar{
    width: 8em;
    height: 8em;
    border-radius: 50%;
}
.datos{
    background-color: rgba(236, 243, 247, 0.726);
    text-align: center;
}
.tipoP, .c_e{
    text-align: justify;
    font-family: 'Lato', sans-serif;
}
.usuario{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.titulo1{
    text-align: center;
    color: #e9a02f;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
.proyectos{
    background-color: beige;
}
.alto{
    padding-top: 25px;
}
.misProyectos{
    margin: 15px;
}
.btn{
    text-align: center;
    font-weight: bold;
    background-color: #e9a02f;
    border: #e9a02f;
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
}
.btn:hover{
    background-color: #9cbb5d;
    border: #9cbb5d;
}
.card-title,.card-footer{
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.card-text{
    font-family: 'Lato', sans-serif;
}
.card img {
    height: 15rem;
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
.card-footer a:last-child i{
    margin-left: 15%;
}