:root{
    --orange-color: #e9a02f;
    --blue-color: #01adb6;
    --aqua-color:#3eb9a5;
    --green-color: #9cbb5d;
    --gray-color: #2b2b2d;
    --white-color: #ffffff;
    --black-color: #000000;
}

body{
    background-color: rgb(255, 255, 255);
}
.titulo{
    color: var(--black-color);
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: calc(1.9em + 1vw);
}
.text{
    color: var(--black-color);
    font-family: 'Lato', sans-serif;
    font-size: calc(.61em + 1vw);
}
#bg{
    background-color: beige;
    opacity: .5;
}
.body{
    display: -ms-flexbox;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}
.formulario{
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: auto;
    padding: 15px;
    margin: auto;
    background-color: beige;
}

.formulario-label{
    position: relative;
    margin-bottom: 1rem;
}
.formulario-label >input, .formulario-label >label{
    height: 3rem;
    padding: .75rem;
}
.formulario-label input:not(:placeholder-shown){
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}
.formulario-label input:not(:placeholder-shown)~label{
    padding-top: .15rem;
    padding-bottom: .2715rem;
    font-size: 8x;
    color: #6c6c9b;
}
input[type]:focus{
    border-color: var(--orange-color);
    box-shadow: 3px 3px 3px var(--orange-color);
}

#registrarse{
    background-color: var(--orange-color);
    border: var(--orange-color);
}
hr {
    border: 2px solid var(--orange-color);
    box-shadow: 1px 1px 10px  #ffc266;
    margin: 0;
}

#foot-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 10px var(--black-color);
    color: #ffffbb;
}


