
.hero{
    height: 550px;
    width: 100%;
    background-image:url("../images/hero.jpg");
    background-size: cover;/*Esto es para que la imagen no se repita*/
  }

  h1{
    color: rgba(4, 142, 255, 0.685);
    font-size: 70px;
    display:flex;/* De esta linea para abajo es lo que necesitamos para centrar el texto del hero*/
    height: 550px; 
    width: 100%;
    align-items: center;
    justify-content: center;
  }
 
.img_des{
    height: 500px;
    width:300px;
}
body{ /*Esto es para darle un color degradado al Body (se saco de la pagina https://uigradients.com/#CoolSky)*/
    background: #2980B9;  
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 
}

h2{
    text-align: center;
    color:#090788;
}

.parrafo_des{
    font-size: 20px;
}