
.hero{
    height: 550px;
    width: 100%;
    background-image:url("../images/hero.jpg");
    background-size: cover;/*Esto es para que la imagen no se repita*/
  }

  h1{
    color: rgba(4, 142, 255, 0.685);
    font-size: 70px;
    display:flex;/* De esta linea para abajo es lo que necesitamos para centrar el texto del hero*/
    height: 550px; 
    width: 100%;
    align-items: center;
    justify-content: center;
  }
 
.img_des{
    height: 500px;
    width:300px;
}
body{ /*Esto es para darle un color degradado al Body (se saco de la pagina https://uigradients.com/#CoolSky)*/
    background: #2980B9;  
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 
}

h2{
    text-align: center;
    color:#090788;
}


.parrafo_des{
    font-size: 20px;
=======
#About_Us p {
    float: left;
    font-size: 2rem;
    width: 60%;
    margin-right: 5%;
}

#About_Us img {
    height: 50%;
    width: 30%;
}

#members{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10%;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 50%;
}

#members div {
    font-size: 2rem;
}


#members div:nth-child(5){
    grid-column: 1/3;

}

#members div:not(div:nth-child(5)) {
    padding-left: 15%;
}


#members div:nth-child(5) img, #members div:nth-child(5) span{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}